


* {
    cursor: url('starcursor.png'), auto;
}




body {
    padding:0;
    margin:0;
    background:#ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.plannertext {
        border-style: solid;
          border-color: #000000;
          border-radius: 50px;
          border-width: 1px;
          font-size: 50pt;
          text-align: center;
          font-family: 'Courier New', Courier, monospace;
          margin: 0 auto;
          display: table
          
      }
      
.plannerbodycopy {
    line-height: 1.6;
    max-width: 300px;
    text-align: justify;
    position: absolute; /* Position relative to the viewport */
    top: 30%; /* Move box halfway down the page */
    right: 60%; /* Move box halfway across the page */
    transform: translate(-50%, -50%); /* Offset the box back to center */

}

.planner {
    width: auto;
    height: 300px;
    cursor: pointer;
}

.papertext {

    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 50px;
    border-width: 1px;
    font-size: 50pt;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: table;
    margin-top: 1%;
    
  }

.paperball {
    width:250px;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    cursor: pointer;
}

.paperdotted {
    width:300px;
    height:auto;
    position:absolute;
    top:50%;
    left: 20%;
    transform:translate(-50%, -50%);
    cursor: pointer;
}

.paperbodycopy {
    line-height: 1.6;
    color: #ffffff;
    max-width: 300px;
    text-align: justify;
    position: absolute; /* Position relative to the viewport */
    top: 50%; /* Move box halfway down the page */
    left: 80%; /* Move box halfway across the page */
    transform: translate(-50%, -50%); /* Offset the box back to center */
}

.ink {
    width:auto;
    height:400px;
    position: absolute;
    left: 250px;
    cursor: pointer;
}

.inktext {

    border-style: solid;
    border-color: #000000;
    color: #000000;
    border-radius: 50px;
    border-width: 1px;
    font-size: 50pt;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: table;
    margin-top: 10%;
    margin-right: 30%;

}

.inkbodycopy {

    line-height: 1.6;
    color: #000000;
    max-width: 300px;
    text-align: justify;
    position: absolute; /* Position relative to the viewport */
    top: 50%; /* Move box halfway down the page */
    left: 59%; /* Move box halfway across the page */
    transform: translate(-50%, -50%); /* Offset the box back to center */

}

.sea {
    width:auto;
    height: 400px;
    position: absolute;
    left: 1000px;
    cursor: pointer;
}

.seatext {

    border-style: solid;
    border-color: #eeeee4;
    color: #eeeee4;
    border-radius: 50px;
    border-width: 1px;
    font-size: 50pt;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: table;
    margin-top: 10%;
    margin-left: 10%;
}


.seabodycopy {

    line-height: 1.6;
    color: #eeeee4;
    max-width: 320px;
    text-align: justify;
    position: absolute; /* Position relative to the viewport */
    top: 62%; /* Move box halfway down the page */
    left: 21%; /* Move box halfway across the page */
    transform: translate(-50%, -50%); /* Offset the box back to center */

}
.skytext {

    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 50px;
    border-width: 1px;
    font-size: 50pt;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: table;
    margin-top: 10%;
    margin-right: 15%;
}


.skybodycopy {

    line-height: 1.6;
    color: #eeeee4;
    max-width: 300px;
    text-align: justify;
    position: absolute; /* Position relative to the viewport */
    top: 50%; /* Move box halfway down the page */
    right: 3%; /* Move box halfway across the page */
    transform: translate(-50%, -50%); /* Offset the box back to center */


}

.sky {
    
    position:absolute;
    top:80%;
    left:75%;
    transform:translate(-50%, -50%);
    cursor: pointer;

}


.moon {
    width: auto;
    height: 460px;
    top: 60%;
    cursor: pointer;
}

.moontext {

    border-style: solid;
          border-color: #ffffff;
          color: #ffffff;
          border-radius: 50px;
          border-width: 1px;
          font-size: 50pt;
          text-align: center;
          font-family: 'Courier New', Courier, monospace;
          margin: 0 auto;
          display: table;
          margin-top: 4%;
}


.moonbodycopy {

    line-height: 1.6;
    font-size: 8pt;
    color: #eeeee4;
    max-width: 200px;
    text-align: justify;
    position: absolute; /* Position relative to the viewport */
    top: 59%; /* Move box halfway down the page */
    left: 50%; /* Move box halfway across the page */
    transform: translate(-50%, -50%); /* Offset the box back to center */
}